.header-large {
    display: none;
}

.header-mobile {
    background-color: #e6e7e8;
    height: 100px;
}

.footer {
    background-color: #bbbdbf;
    color: #FFFFFF;
}

.logo {
    color: #008542;
    font-size: 26px;
    text-decoration: underline;
}

.search-button {
    background-color: #929497;
}

.menu-icon::after {
    /* the block itself, the first line */
    background: #008542;
    /* middle and bottom */
    box-shadow: 0 7px 0 #008542, 0 14px 0 #008542;
    /* respect WebKit */
    -webkit-box-shadow: 0 7px 0 #008542, 0 14px 0 #008542;
}

.title-bar {
    background: #e6e7e8;
    color: #515150;
    font-weight: 400;
}

.mob-menu a {
    font-size: 12px;
    color: #515150;
}

.nav-menu {
    display: none;
}

.nav-menu a {
    font-size: 12px;
    color: #515150;
}
.page-buttons {
    background-color: #008542;
    width: 50%;
}

.special-offers {
    padding-top: 1rem;
}

.offers-button {
    background-color: #008542;
}

.title {
    color: #515150;
}

.offers-container {
    padding: 1rem;
    background-color: #e6e7e8;
}

.offer {
    padding: 1rem;
}

.offer-text {
    background-color: #FFFFFF;
    padding: 1rem;
}

.offer-description {
    background-color: #FFFFFF;
    margin: 0;
    text-align: center;
}

.offer-promotion {
    background-color: #FFFFFF;
    margin: 0;
    text-align: center;
    font-weight: 700;
}

.product-categories {
    padding: 3rem 0 2rem 0;
}

.product-categories-title {
    padding: 1rem;
    background-color: #FFFFFF;
    margin: 0;
    text-align: center;
    color: #929497;
}

.social-media li {
    font-size: 26px;
    margin: 1rem 0 1rem 0;
    padding: 0 1rem 0 1rem;
    border-right: 1px solid gray;
}

.social-media li:first-child {
        padding-left: 0;
}

.social-media li:last-child{
    border: none;
}

.footer-container {
    padding: 2rem 0 2rem 1rem;
}

.mobile-search {
    width: 50%;
}

@media screen and (min-width: 64em) {
    .nav-menu {
        display: flex;
    }

    .header-large {
        display: block;
        background-color: #e6e7e8;
        height: 100px;
    }

    .header-mobile {
        display: none;
    }
}