<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verto Tech Test Project</title>
    <environment include="Development">
		<link rel="stylesheet" href="~/css/foundation.css" />
        <link rel="stylesheet" href="~/css/app.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/css/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="~/css/slick/slick-theme.css" />
    </environment>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <environment include="Development">
        <script src="~/js/vendor/foundation.js"></script>
        <script src="~/js/vendor/jquery.js"></script>
        <script src="~/js/vendor/what-input.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    </environment>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.categories-slider').slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                ]
              });
            });
    </script>
</body>
</html>
