<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verto Tech Test Project</title>
    <environment include="Development">
		<link rel="stylesheet" href="~/css/foundation.css" />
        <link rel="stylesheet" href="~/css/app.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/css/slick/slick.css" />
        <link rel="stylesheet" type="text/css" href="~/css/slick/slick-theme.css" />
    </environment>
</head>
<body>
    <div>
        <div class="cell large-2 header">
            <div class="grid-container">
                <div class="grid-y grid-margin-x clearfix">
                    <div class="cell float-left logo">
                        <h3>opticron</h3>
                    </div>
                    <div class="grid-x large-12">
                        <ul class="menu align-left large-9 nav-menu">
                            <li><a href="#">Our Products</a></li>
                            <li><a href="#">Where to Buy</a></li>
                            <li><a href="#">News and Reviews</a></li>
                            <li><a href="#">Help & Support</a></li>
                            <li><a asp-action="Cms" asp-controller="Pages">My Opticron <strong>CMS</strong></a></li>
                        </ul>
                        <form class="float-right large-3">
                            <div class="input-group">
                                <input class="input-group-field" type="text" placeholder="My Opticron...">
                                <div class="input-group-button">
                                    <button class="button search search-button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none">
                                            <path d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <environment include="Development">
        <script src="~/js/vendor/foundation.js"></script>
        <script src="~/js/vendor/jquery.js"></script>
        <script src="~/js/vendor/what-input.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    </environment>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.categories-slider').slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                ]
              });
            });
    </script>
</body>
</html>
