@{
    Layout = "_Layout";
}


<body>
    <div class="grid-y">
            <div class="cell large-2 header">
                <div class="grid-container">
                    <div class="grid-y grid-margin-x clearfix">
                        <div class="cell logo float-left">
                            <h3>opticron</h3>
                        </div>
                        <div class="grid-x large-12">
                            <ul class="menu align-left large-9 nav-menu">
                                <li><a href="#">Our Products</a></li>
                                <li><a href="#">Where to Buy</a></li>
                                <li><a href="#">News and Reviews</a></li>
                                <li><a href="#">Help & Support</a></li>
                                <li><a href="#">My Opticron</a></li>
                            </ul>
                            <form class="float-right large-3">
                                <div class="input-group">
                                    <input class="input-group-field" type="text" placeholder="My Opticron...">
                                <div class="input-group-button">
                                    <button class="button search search-button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none">
                                            <path d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="cell large-2">
                    <img src="https://placehold.co/1920x300"  />
            </div>
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell large-3 medium-6 small-12">
                        <div class="grid-y grid-padding-y">
                        <div class="cell float-left"><h5 class="title">New Products</h5></div>
                            <img src="https://placehold.co/250x250">
                            <p>Lorem ipsum dolor sit amet, id per dictas inermis. Eam odio modo cibo at. Purto dignissim euripidis eu mel, cu mel.</p>
                            <a class="button button-green">New Products</a>
                        </div>
                    </div>
                    <div class="cell large-3 medium-6 small-12">
                    <div class="grid-y grid-padding-y">
                            <div class="cell float-left"><h5 class="title">Field Events</h5></div>
                            <img src="https://placehold.co/250x250">
                            <p>Lorem ipsum dolor sit amet, id per dictas inermis. Eam odio modo cibo at. Purto dignissim euripidis eu mel, cu mel.</p>
                            <a class="button button-green float-left">View Events</a>
                        </div>
                    </div>
                    <div class="cell large-3 medium-6 small-12">
                    <div class="grid-y grid-padding-y">
                        <div class="cell float-left"><h5 class="title">Latest News</h5></div>
                            <img src="https://placehold.co/250x250">
                            <p>Lorem ipsum dolor sit amet, id per dictas inermis. Eam odio modo cibo at. Purto dignissim euripidis eu mel, cu mel.</p>
                            <a class="button button-green">Read Article</a>
                        </div>
                    </div>
                    <div class="cell large-3 medium-6 small-12">
                    <div class="grid-y grid-padding-y">
                        <div class="cell float-left"><h5 class="title">Gallery</h5></div>
                            <img src="https://placehold.co/250x250">
                            <p>Lorem ipsum dolor sit amet, id per dictas inermis. Eam odio modo cibo at. Purto dignissim euripidis eu mel, cu mel.</p>
                            <a class="button button-green">View Gallery</a>
                        </div>
                    </div>
                </div>
            
                <div class="cell large-4 medium-12 small-12">
                        <div class="grid-container">content-3 e221321</div>
                    </div>
                <div class="cell large-3 medium-6 small-6">
                        <div class="grid-container">content-3 e221321</div>
                </div>
            </div>

            <div class="cell large-2 footer">
                <div class="grid-container">Footer</div>
            </div>
    </div>   
</body>


