@model List<Verto_Tech_Test.Models.Domain.Page>
@{
    Layout = "_Layout";
}


<body>
    <div class="grid-y">
            
            <div class="cell large-2">
                    <img src="https://placehold.co/1920x510"  />
            </div>
        <div class="cell" style="background: #FFFFFF; padding: 1rem;">
                <div class="grid-container" style="padding-bottom: 2rem;">
                    <div class="grid-x grid-padding-x" style="padding-bottom: 2rem;">
                        @foreach (var item in Model)
                        {
                            <div class="cell large-3 medium-6 small-12">
                                <div class="grid-y grid-padding-y">
                                    <div class="cell float-left"><h5 class="title">@item.Title</h5></div>
                                    <img src="@item.ImageUrl">
                                    <p>@item.Description</p>
                                    <a class="button page-buttons">@item.Title</a>
                                </div>
                            </div>
                        }
                    </div>
                <div class="grid-y offers-container">
                            <div class="grid-container special-offers">
                                <h5 class="title">Special Offers</h5>
                            </div>
                            <div class="grid-container">
                                <div class="grid-x">
                                    <div class="grid-y offer small-12 medium-12 large-4">
                                        <img src="https://placehold.co/365x245">
                                        <div class="cell offer-text">
                                            <p class="offer-description">Discovery WP PC</p>
                                            <p class="offer-promotion">£20 Cashback</p>
                                        </div>
                                    </div>
                                    <div class="grid-y offer small-12 medium-12 large-4">
                                        <img src="https://placehold.co/365x245">
                                        <div class="cell offer-text">
                                            <p class="offer-description">HR ED Fieldscopes</p>
                                            <p class="offer-promotion">Free Digiscoping Kit</p>
                                        </div>
                                    </div>
                                    <div class="grid-y offer small-12 medium-12 large-4">
                                        <img src="https://placehold.co/365x245">
                                        <div class="cell offer-text">
                                            <p class="offer-description">IS 60 WP Fieldscope Kits</p>
                                            <p class="offer-promotion">Save 25%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-container special-offers">
                                <a class="button offers-button">View All Offers</a>
                            </div>                        
                     </div>
                    <div class="grid-y large-3 medium-6 small-6">
                            <div class="grid-container">
                                <h5 class="title">Product Categories</h5>
                            </div>
                            <div class="grid-container">
                                <div class="grid-x">
                                    <div class="grid-y offer small-6 medium-6 large-3">
                                        <img src="https://placehold.co/260x240">
                                        <p class="product-categories-title">Binoculars</p>
                                    </div>
                                    <div class="grid-y offer small-6 medium-6 large-3">
                                        <img src="https://placehold.co/260x240">
                                        <p class="product-categories-title">Compact Binoculars</p>
                                    </div>
                                    <div class="grid-y offer small-6 medium-6 large-3">
                                        <img src="https://placehold.co/260x240">
                                        <p class="product-categories-title">Telescopes & Eyepieces</p>
                                    </div>
                                    <div class="grid-y offer small-6 medium-6 large-3">
                                        <img src="https://placehold.co/260x240">
                                        <p class="product-categories-title">Observation & Marine</p>
                                   </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="cell footer">
                <div class="grid-container footer-container" >
                    <div class="grid-x large-6 medium-12 small-12">
                        <div class="grid-y large-8 medium-12 small-12">
                        <div class="cell" style="padding-bottom: 2rem;">
                                <h7>Opticron Unit 21, Titan Court, Laporte Way, Luton, Bedfordshire, LU4 8EF, UK</h7>
                            </div>
                            <div class="cell" style="padding-top: 2rem; padding-bottom: 2rem;">
                                <p>Site map / Terms / Privacy Policy / Site By Verto</p>
                            </div>
                        </div>
                        <div class="grid-y large-4 medium-12 small-12">
                            <div class="cell">
                                <h3>call <strong>01582 726522</strong></h3>
                                <h5>email us sales@opticron.co.uk</h5>
                            </div>
                            <div class="cell">
                                <ul class="menu social-media">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-twitter"></i></li>
                                    <li><i class="fa fa-linkedin"></i></li>
                                    <li><i class="fa fa-youtube"></i></li>
                                    <li class="last"><i class="fa fa-google-plus"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
    </div>   
</body>


