@{
    Layout = "_Layout";
}


<body>
    <div class="grid-y">
            <div class="cell large-2 header">
                <div class="grid-container">
                    <div class="grid-y grid-margin-x clearfix">
                        <div class="cell logo float-left">
                            <h3>opticron</h3>
                        </div>
                        <div class="grid-x large-12">
                            <ul class="menu align-left large-9 nav-menu">
                                <li><a href="#">Our Products</a></li>
                                <li><a href="#">Where to Buy</a></li>
                                <li><a href="#">News and Reviews</a></li>
                                <li><a href="#">Help & Support</a></li>
                                <li><a href="#">My Opticron</a></li>
                            </ul>
                            <form class="float-right large-3">
                                <div class="input-group">
                                    <input class="input-group-field" type="text" placeholder="My Opticron...">
                                    <div class="input-group-button">
                                        <button class="button search search-button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none">
                                                <path d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="cell large-2">
                    <img src="https://placehold.co/1920x510"  />
            </div>
        <div class="cell" style="background: #FFFFFF; padding: 1rem;">
                <div class="grid-container" style="padding-bottom: 2rem;">
                    <div class="grid-x grid-padding-x" style="padding-bottom: 2rem;">
                        <div class="cell large-3 medium-6 small-12">
                            <div class="grid-y grid-padding-y">
                            <div class="cell float-left"><h5 class="title">New Products</h5></div>
                                <img src="https://placehold.co/300x230">
                                <p>Lorem ipsum dolor sit amet, id per dictas inermis. Eam odio modo cibo at. Purto dignissim euripidis eu mel, cu mel.</p>
                            <a class="button page-buttons">New Products</a>
                            </div>
                        </div>
                        <div class="cell large-3 medium-6 small-12">
                        <div class="grid-y grid-padding-y">
                                <div class="cell float-left"><h5 class="title">Field Events</h5></div>
                                <img src="https://placehold.co/300x230">
                                <p>Lorem ipsum dolor sit amet, id per dictas inermis. Eam odio modo cibo at. Purto dignissim euripidis eu mel, cu mel.</p>
                            <a class="button page-buttons">View Events</a>
                            </div>
                        </div>
                        <div class="cell large-3 medium-6 small-12">
                        <div class="grid-y grid-padding-y">
                            <div class="cell float-left"><h5 class="title">Latest News</h5></div>
                                <img src="https://placehold.co/300x230">
                                <p>Lorem ipsum dolor sit amet, id per dictas inermis. Eam odio modo cibo at. Purto dignissim euripidis eu mel, cu mel.</p>
                            <a class="button page-buttons">Read Article</a>
                            </div>
                        </div>
                        <div class="cell large-3 medium-6 small-12">
                        <div class="grid-y grid-padding-y">
                            <div class="cell float-left"><h5 class="title">Gallery</h5></div>
                                <img src="https://placehold.co/300x230">
                                <p>Lorem ipsum dolor sit amet, id per dictas inermis. Eam odio modo cibo at. Purto dignissim euripidis eu mel, cu mel.</p>
                            <a class="button page-buttons">View Gallery</a>
                            </div>
                        </div>
                    </div>

                <div class="grid-y offers-container">
                            <div class="grid-container special-offers">
                                <h5 class="title">Special Offers</h5>
                            </div>
                            <div class="grid-container">
                                <div class="grid-x">
                                    <div class="grid-y offer small-12 medium-12 large-4">
                                        <img src="https://placehold.co/365x245">
                                        <div class="cell offer-text">
                                            <p class="offer-description">Discovery WP PC</p>
                                            <p class="offer-promotion">£20 Cashback</p>
                                        </div>
                                    </div>
                                    <div class="grid-y offer small-12 medium-12 large-4">
                                        <img src="https://placehold.co/365x245">
                                        <div class="cell offer-text">
                                            <p class="offer-description">HR ED Fieldscopes</p>
                                            <p class="offer-promotion">Free Digiscoping Kit</p>
                                        </div>
                                    </div>
                                    <div class="grid-y offer small-12 medium-12 large-4">
                                        <img src="https://placehold.co/365x245">
                                        <div class="cell offer-text">
                                            <p class="offer-description">IS 60 WP Fieldscope Kits</p>
                                            <p class="offer-promotion">Save 25%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-container special-offers">
                                <a class="button offers-button">View All Offers</a>
                            </div>                        
                     </div>
                    <div class="grid-y large-2 medium-4 small-4 product-categories">
                            <div class="grid-container">
                                <h5 class="title">Product Categories</h5>
                            </div>
                            <div class="grid-container">
                                <div class="grid-x categories-slider">
                                    <div class="grid-y offer small-4 medium-4 large-2">
                                        <img src="https://placehold.co/260x240">
                                        <p class="product-categories-title">Binoculars</p>
                                    </div>
                                    <div class="grid-y offer small-4 medium-4 large-2">
                                        <img src="https://placehold.co/260x240">
                                        <p class="product-categories-title">Compact Binoculars</p>
                                    </div>
                                    <div class="grid-y offer small-4 medium-4 large-2">
                                        <img src="https://placehold.co/260x240">
                                        <p class="product-categories-title">Telescopes & Eyepieces</p>
                                    </div>
                                    <div class="grid-y offer small-4 medium-4 large-2">
                                        <img src="https://placehold.co/260x240">
                                        <p class="product-categories-title">Observation & Marine</p>
                                   </div>
                                   <div class="grid-y offer small-4 medium-4 large-2">
                                       <img src="https://placehold.co/260x240">
                                       <p class="product-categories-title">New Category</p>
                                   </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="cell footer">
                <div class="grid-container footer-container" >
                    <div class="grid-x large-6 medium-12 small-12">
                        <div class="grid-y large-8 medium-12 small-12">
                        <div class="cell" style="padding-bottom: 2rem;">
                                <h7>Opticron Unit 21, Titan Court, Laporte Way, Luton, Bedfordshire, LU4 8EF, UK</h7>
                            </div>
                            <div class="cell" style="padding-top: 2rem; padding-bottom: 2rem;">
                                <p>Site map / Terms / Privacy Policy / Site By Verto</p>
                            </div>
                        </div>
                        <div class="grid-y large-4 medium-12 small-12">
                            <div class="cell">
                                <h3>call <strong>01582 726522</strong></h3>
                                <h5>email us sales@opticron.co.uk</h5>
                            </div>
                            <div class="cell">
                                <ul class="menu social-media">
                                    <li><i class="fa fa-facebook"></i></li>
                                    <li><i class="fa fa-twitter"></i></li>
                                    <li><i class="fa fa-linkedin"></i></li>
                                    <li><i class="fa fa-youtube"></i></li>
                                    <li class="last"><i class="fa fa-google-plus"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
    </div>   
</body>


